/* Uses Gruvbox Theming */

* {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    font-family: FantasqueSansMono;
    font-size: 16px;
    min-width: 8px;
    min-height: 0;
}

window#waybar {
    background-color: #282828;
    color: #d3869b;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 8px;
    border: 2px solid #a89984;
}


/* Workspace Styling ----------------- */
#workspaces {
    margin: 3px 2px;
    padding: 4px 0px 0px 0px;
    border-radius: 8px;
}
#workspaces button {
    transition-property: background-color;
    transition-duration: 0.5s;
    color: #665c54;
    background: transparent;
}
#workspaces button.urgent {
    font-weight: bold;
    background-color: #d3869b;
}
#workspaces button.active {
    background: alpha(@active, 0.4);
    background-color: #3c3836;
}
/* Workspace Styling ----------------- */

/* Generic Styling ----------------- */
#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #wireplumber, #disk  {
    padding: 2px 4px;
    margin: 0px 4px;
    color: #665c54;
    background: transparent;
}
/* Generic Styling ----------------- */

/* Network Styling ----------------- */
#network {
    padding: 4px 4px;
    margin: 2px 6px 0px 2px;
}
/* Network Styling ----------------- */

/* Backlight Styling ----------------- */
#backlight {
    padding: 4px 4px;
    margin: 0px 6px 0px 2px;
}
/* Backlight Styling ----------------- */

/* Disk Styling ----------------- */
#disk {
    padding: 4px 4px;
    margin: 0px 4px 0px 2px;
}
/* Disk Styling ----------------- */

/* Memory Styling ----------------- */
#memory {
    padding: 4px 4px;
    margin: 0px 4px 0px 2px;
}
/* Memory Styling ----------------- */

/* Temperature Styling ----------------- */
#temperature {
    padding: 4px 4px;
    margin: 0px 0px 0px 2px;
}
/* Temperature Styling ----------------- */


/* Battery Styling ----------------- */
#battery {
    padding: 4px 4px 6px 4px;
    margin: 2px 2px 6px 2px;
}
#battery.charging {
    color: #ebdbb2;
    background-color: #98971a;
}
@keyframes blink {
    to {
        background-color: #d3869b;
        color: #928374;
    }
}
#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #928374;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* Battery Styling ----------------- */
